<div class="actions">
  <button mat-raised-button color="primary" (click)="lazy1()">Lazy 1</button>
  <button mat-raised-button color="primary" (click)="lazy2()">Lazy 2</button>
</div>
<div class="viewer">
  <div class="dashboard">

    <ng-container *ngIf="display.lazy1">
      <div class="flex-60">
        <lazy-load [key]="keyForMarketSummary"></lazy-load>
      </div>
    </ng-container>

    <ng-container *ngIf="display.lazy2">
      <div class="flex-40">
        <lazy-load [key]="keyForFinancial"></lazy-load>
      </div>
    </ng-container>

   

  </div>
</div>
